footer.bg-coralclaro.pt-2.bshadow-ftr
    p.text-center.text-white Copyright 2020 -
      a.tshadow( href="http://sites.google.com/view/nservicos" target='_blanck') - #[strong.text-primary N]Serviços© -
      a.tshadow( href="mailto:projetocelo@gmail.com" ) - projetocelo@gmail.com - 
      a.tshadow( href="/creator" ) - Created by Nei
