div.position-fixed.wdf-94.mt-0.pt-0
    div.row.pb-3.pt-3.bg-title.bshadow.mt-0 
        div.col-sm-1.text-right
            img.bshadow(width='70', src='/images/banTitle.jpg') 
        div.col-sm-2.text-left.pt-4
            p.tshadow.text-primary *Ateliê de Bordados*
        div.col-sm-5.text-left.pt-2
            h2.text-primary.tshadow.arial-narrow CORES & LINHAS 
        - if(mod==='open'){
            script.
                $('#loginModal').modal('show');
                $('#loginModal').on('shown.bs.modal', function (e) {
                e.preventDefault();
                $('#user_name').focus();
                })
                $('#loginModal').on('hidden.bs.modal', function (e) {
                e.preventDefault();
                $(this).removeData('bs.modal');
                });
        - }
        - if(loged){ 
            div.col-sm-2.bg-coralclaro.text-center.pt-3.bshadow
                i User: #[strong.text-white #{loged.nome}] 
            div.col-sm-1.bg-coralclaro.text-center.pt-3.bshadow
                a.btn.btn-primary.btn-sm.bshadow( type='button', href='/users/userlogout' ) Logout 
        - }else{ 
            div.col-sm-2.bg-coralclaro.text-center.pt-3.bshadow
                i Clique para entrar
            div.col-sm-1.bg-coralclaro.text-center.pt-3.bshadow
                a.btn.btn-primary.btn-sm.bshadow( type='button', href='/users/userlogin' ) Login 
        - }
        div.col-sm-1