extends layout

block content
    div.col-sm-10

        div.mb-5.ml-3.mr-3.p-3.bshadow.brd-dashed
            block content-index

                div.mb-5.ml-3    
                    h3.text-center.bg-title.pt-2.pb-2 Index
                    hr
                    img.brdg(src="../../../index.png", alt="imagem de index")
                      
                    
                    

