extends layout

block content
                       
    div.col-sm-10

        div.mb-5.ml-3.mr-3.p-3.bshadow.bg-content.brd-dashed

            include orcamento_menu.pug

            block orcamento-list

                h3.text-center.bg-title.pt-2.pb-2 Orçamento Index
                hr
                img.w-100(src="../../../images/orcamento.png", alt="Imagem de orçamento")