extends user_index

block user-list

    script.
        $(document).ready(function(){
        $('table tr').click(function(){
            window.location = $(this).data('url');
            return false;
            });
        });

    h3.bg-title.pt-2.pb-2.pl-2 #[strong #{title}]
    hr

    table.table
            thead.bg-coralclaro
                tr
                    th(scope="col") Nome
                    th(scope="col") Email
                    th(scope="col") Status

            tbody
                each usuario in user
                    tr(data-url=usuario.url, style="cursor:pointer", onmouseover="this.style.background='#ffefd5'", onmouseout="this.style.background='none'")
                        
                        td #{ usuario.nome }
                        td #{ usuario.email }
                        td #{ usuario.status }

                else
                    ul.list-unstyled.ml-3

                        li There are no user.

    